*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    color: black;
    height: 78px;
    background: #31D1BE;
    font-size: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    gap: 60px;
}

.company_name{
    margin-top: 10px;
}

.login_button{
    background-color: #219688;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    background: linear-gradient(to bottom ,#C7F8F8, #209C9C);
}

.button_link{
    color: white;
}

.logoMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logout_button{
    width: 80px;
    height: 30px;
    background-color: #209C9C;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
}

.login_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 530px;
    height: 400px;
    background-color: #31D1BE;
    border-radius: 50px;
}

.form_label{
    font-size: 16px;
    margin-top: 20px;
}

.login_input{
    width: 450px;
    height: 70px;
    background-color: #B1F2EE;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}

.form_title{
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.authorization_button{
    width: 150px;
    height: 50px;
    margin-top: 35px;
    background-color: #219688;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.error_message{
    margin-top: 10px;
    color: darkred;
    border-bottom: 1px solid darkred;
}

.admin_content{
    padding: 80px 0 60px 0;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
}

.admin_title{
    display: flex;
    flex-direction: row;
    gap: 90px;
    font-size: 24px;
    margin-bottom: 40px;
}

.registry_employee{
    width: 550px;
    height: 60px;
    padding: 20px 40px;
    background-color: #B1F2EE;
    border: 2px solid #219688;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 10px;
}

.add_employee_button{
    width: 200px;
    height: 40px;
    background-color: #219688;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.add_employee_content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    padding-top: 50px;
}

.add_employee_form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 515px;
    background-color: #31D1BE;
    align-items: center;
    border-radius: 55px;
}

.add_input{
    width: 250px;
    height: 20px;
    background-color: #B1F2EE;
    border-radius: 5px;
    padding: 15px;
    font-size: 10px;
}

.button_add_employee{
    background-color: #219688;
    border-radius: 15px;
    margin-top: 25px;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.add_form_label{
    font-size: 12px;
    margin-top: 15px;
}

.add_form_title{
    font-size: 16px;
}

.message{
    margin-top: 5px;
    font-size: 16px;
    color: darkred;
    border-bottom: 1px solid darkred;
}

.employee_button{
    background-color: #219688;
    width: 280px;
    height: 80px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

.employee_button_link{
    color: white;
    font-size: 24px;
}

.registry_employee_content{
    padding-top: 70px;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
}

.registry_employee_buttons{
    margin-top: 100px;
    display: flex;
    gap: 30px;
}

.employee_content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    padding-top: 50px;

}

.employee_title_menu{
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    margin-bottom: 30px;
}

.patients_filter{
    width: 455px;
    height: 50px;
    background-color: #21F5DC;
    margin-bottom: 35px;
}

.patient_value{
    background-color: #63d1c9;
}

.doctors_list{
    width: 550px;
    height: 60px;
    background-color: #B1F2EE;
    border: 2px solid #219688;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search_button{
    width: 90px;
    height: 50px;
    background-color: #3B6C66;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.positions_and_specialties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_doctor_form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 455px;
    background-color: #31D1BE;
    align-items: center;
    border-radius: 55px;
}

.position_filter{
    width: 250px;
    height: 40px;
    background-color: #21F5DC;
}

.position_value{
    background-color: #63d1c9;
}

.specialties_filter{
    width: 250px;
    height: 40px;
    background-color: #21F5DC;
    margin-top: 20px;
}

.specialty_value{
    background-color: #63d1c9;
}

.button_add_doctor{
    background-color: #219688;
    border-radius: 15px;
    margin-top: 25px;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.appointments_list{
    width: 690px;
    height: 60px;
    background-color: #B1F2EE;
    border: 2px solid #219688;
    padding: 0 20px;
    margin: 20px 0 20px 0;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.patient_data{
    display: flex;
    flex-direction: column;
}

.appointment_data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit_patient_info{
    width: 230px;
    height: 30px;
    background-color: #209C9C;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.add_patient_content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    padding-top: 50px;
}

.add_patient_form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 440px;
    background-color: #31D1BE;
    align-items: center;
    border-radius: 55px;
}

.doctor_filter{
    width: 455px;
    height: 50px;
    background-color: #21F5DC;
}

.appointment_filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment_date{
    width: 455px;
    height: 50px;
    background-color: #21F5DC;
    padding: 10px;
    margin-bottom: 20px;
}

.add_appointment_content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    padding-top: 50px;
}

.add_appointment_form{
    display: flex;
    flex-direction: column;
}

.patient_info{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
}

.filter{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.appointment_form_label{
    font-size: 12px
}

.date_time_appointment{
    display: flex;
    flex-direction: row;
    gap: 230px;
}

.button_add_appointment{
    background-color: #219688;
    border-radius: 15px;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.button_container {
    display: flex;
    justify-content: center;
}

.cancel_content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 78px); /* высота хэдера */
    flex-direction: column;
    padding-top: 150px;
}

.cancel_button{
    width: 200px;
    height: 60px;
    background-color: #219688;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
}

.cancel_buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header_link{
    color: black;
    font-size: 14px;
    border-bottom: 1px solid black;
}

.edit_patient_info_link{
    color: white;
}

.link{
    color: white;
}

.logo_link{
    font-size: 18px;
    color: black;
}

.add_position_specialty_form{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #31D1BE;
    align-items: center;
    border-radius: 55px;
}

.doctor_label{
    font-size: 12px;
    margin-top: 20px;
}

.patients_appointments_list{
    width: 690px;
    height: 60px;
    background-color: #B1F2EE;
    border: 2px solid #219688;
    padding: 0 20px;
    margin: 20px 0 20px 0;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.appointment_labels{
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding-left: 70px;
}

.appointment_labels_patient{
    align-items: center;
    text-align: center;

    width: 690px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-left: 55px;
}

.error{
    color: red;
    font-size: 13px;
    font-weight: 600;
}

.patients_list{
    width: 440px;
    height: 60px;
    background-color: #B1F2EE;
    border: 2px solid #219688;
    padding: 0 20px;
    margin: 20px 0 20px 0;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all_patients_button{
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #219688;
    color: white;
}

.patient_search_input{
    background-color: #21F5DC;
    border: 1px solid #209C9C;
}

.patient_search_button{
    width: 55px;
    height: 35px;
    background-color: #219688;
    color: white;
    border-radius: 10px;
}

.add_note_button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #136c5c;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}

.notification{
    border: 1px solid black;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 5px;
}

.notes_text{
    margin: 15px 0 15px 0;
}

.notes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}